<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/44ef960a-ce12-4904-86e0-839d24600287/resourcegroups/ApiResourceGroup/providers/Microsoft.Web/sites/ParksForecastApi20230601201108</ResourceId>
    <ResourceGroup>ApiResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://parksforecastapi20230601201108.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f1dd7566-8b47-4351-9bd3-71855002ef48</ProjectGuid>
    <MSDeployServiceURL>parksforecastapi20230601201108.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ParksForecastApi20230601201108</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ParksForecastApi20230601201108</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <ApiResourceId>/subscriptions/44ef960a-ce12-4904-86e0-839d24600287/resourceGroups/ApiResourceGroup/providers/Microsoft.ApiManagement/service/ParksForecastApiapii/apis/ParksForecastApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>